/* Higer level CSS formatting */
html{
    width:100%;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:#fff;
    margin:0;
}
/* This is the heading, my name, and the nav bar formatting/styling. */
heading {
    background-color: rgb(25 82 126);
    width: 100%;
    height:75px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
heading div {
    background-color: white;
    color: #1b527a;
    display:flex;
    justify-content: end;
    align-items:center;
    height: 50px;
    width: 200px;
    font-size: 30px;
    font-weight:bolder;
    font-family: cursive;
}

nav li {
    border-bottom: 3px solid rgb(0, 229, 255);
    color: white;
    justify-content: center;
    list-style: none;
    display:inline;
    margin-right:50px;
}
a {
    text-decoration:none;
    color:white;
}
/* Then I have formatted the cover image and subtitle here. */
#cover{
    background-image: url(/assets/images/hexagons.jpg);
    height: 300px;
    display: grid;
}
#cover header {
    background-color: #fff;
    color: #010001;
    display: flex;
    align-items: center;
    height: 30px;
    margin-right: 50px;
    margin-bottom: 15px;
    width: 200px;
    font-size: 30px;
    justify-self: flex-end;
    justify-content: center;
    order: 2;
}
#cover img {
    height: 176px;
    width: 156px;
    position: relative;
    top: 30px;
    border: 10px solid #174d78;
    border-radius: 10px;

}
/* Here starts the about me section formatting.  */
#about-me-section{
    display:flex;
    align-items:center;
    align-content: space-between;
}    
#about-me-section div {
    color:#010001;
    width: 75%;
    margin: 50px;
}
/* I formatted each of the content sections and their headers with these classes. */
.content-section header {
    display: flex;
    flex-direction: column;
    width: 25%;
    border-right: 5px solid #1b527a;
    justify-content: flex-start;
    align-content: flex-end;
    color: #1b527a;
    font-weight: 100;
    flex-wrap: wrap;
    padding-right: 23px;
}
.content-section {
    display:flex;
}
/* Here I am formatting the work tiles section, the work tiles themselves, and their labels.
The first project is further styled to be bigger.  */
#work-tiles {
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    width: 75%;
    align-content: space-around;
    margin: 50px;
}
.tile{
    border: 5px solid #bbf4fd;
    width: 45%;
    height: 90px;
    background-image: url(/assets/images/hexagons.jpg);
    display: flex;
    margin: 5px;
    align-items:end;
    justify-content:left;
    flex: 1 0 45%;
    opacity: 0.7;
}
#project1 {
    border: 5px solid #bbf4fd;
    width: 95%;
    height: 200px;
    display: flex;
    margin: 5px;
    flex: 2 1 95%  
}
.label {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 45px;
    align-items: center;
    justify-content: flex-start;
    font-size: 12px;
    margin-bottom: 15px;
    opacity: 1.0;
    margin-left: 5px;
    border: 3px dashed #1b527a;
    flex-wrap: nowrap;
}
.label heading{
    font-size: 14px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
}
/* Added margin to the entire work section. */
#work-section{
    margin: 50px auto;
}
/* Started formatting the contact me section, unordered list, and list items. */
#contact-me-section div {
    display: flex;
    justify-content: center;
    width: 75%;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px;
    height: 7px;
    align-content: center;
}
#contact-me-section ul{
    display: inline-flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}
#contact-me-section li {
    list-style-type: none;
    display:inline;
}
.contact-info, .contact-info a{
    display:flex;
    color:#1b527a;
}
/* Pseudo-classes for the tiles and the heading list items. */
.tile:hover{ 
    opacity: 1.0;
}
heading li:hover{
    background-color: rgb(0, 229, 255);
}
/* Media query to adjust for mobile devices.  */
@media screen and (max-width:768px){
    /* Heading and nav bar formatting for mobile devices. */
    heading {
        flex-direction: column;
        width:100%;
    }
    heading div{
        width:100%;
        height:100%;
        justify-content:center;
    }
    nav{
        background-color:#1b527a;
        width: 100%;
        align-items:center;
    }
    nav ul{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    nav li {
        display: inline-block;
        padding:10px;
    }
    /* Cover formatting for mobile devices. */
    #cover {
        justify-content: space-around;
        height:450px;
    }
    #cover header{
        position:relative;
        left:30px;
        margin-top:40px
    }
    #cover img{
        margin-top:100px;
    }
    /* Content section formatting for mobile devices. */
    .content-section{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .content-section header{
        color: #1b527a;
        border-bottom: 5px solid;
        border-right: none;
        display: flex;
        align-content: center;
        width: 100%;
        flex-direction: column;
    }
    /* Work tile section and tile formatting for mobile devices. */
    .tile{
        width:100%;
        display:block;
        margin:10px 100px;
        height:150px;
    }
    #project1{
        width:100%;
        display:block;
        margin:10px 100px;
        height:150px;
    }
    #work-tiles{
        width:100%
    }
    .label{
        position: relative;
        top: 20px;
    }
    /* Contact me section formatting for mobile devices */
    #contact-me-section {
        margin-bottom:50px;
    }
    #contact-me-section ul {
        display:flex;
        flex-direction:column;
        margin:10px;
        line-height:25px;
    }
    #contact-me-section header{
        margin-bottom: 25px;
    }
    #contact-me-section li{
        border-bottom:5px solid rgb(0, 229, 255);
        width: fit-content;
  }
}